*{      
    margin: 0;
    padding: 0;
} 
/* upper one for the whole website
 */
 body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
 }

 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
 }

.navbar_logo {
    width: 100%;
}
.navbar_logo:hover{
    cursor: pointer;
}
/* instead of resizing the image and spoil its basic format
we resize the parent divisioin so the image will automatically fit to the div and will
aquire 100% of the div */

.navbar_brand {
    width: 100px;
}

.nav_item {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%);
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 6px;
}

.nav_item:hover{
    border: 2px solid black;
    cursor: pointer;
}

@media (min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
    
}